<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Melanchall.DryWetMidi" version="8.0.3" manuallyInstalled="true" />
  <package id="OpenCvSharp4" version="4.13.0.20260627" manuallyInstalled="true" />
  <package id="OpenCvSharp4.runtime.win" version="4.13.0.20260627" manuallyInstalled="true" />
</packages>